# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Environment variables
.env

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Database WAL files
*.wal
*.tmp

# Jupyter
.ipynb_checkpoints/